-- 데이터베이스 사용자 생성
CREATE USER ${POSTGRES_USER} WITH PASSWORD '${POSTGRES_PASSWORD}';

-- 데이터베이스 생성
CREATE DATABASE ${POSTGRES_DB} OWNER ${POSTGRES_USER};

-- public 스키마 권한 부여
GRANT USAGE ON SCHEMA public TO ${POSTGRES_USER};
GRANT CREATE ON SCHEMA public TO ${POSTGRES_USER};

-- 데이터베이스 권한 부여
GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO ${POSTGRES_USER};
