### venv ###
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
pyvenv.cfg
.venv
pip-selfcheck.json
.snakemake*
.vscode
*.pyc
__pycache__/

/plugin/*

/user/*
/lightning_logs/*

renv/
.Rprofile
Rplots.pdf

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

MAC_temp.csv

src/