html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --dfBackgroundColor: rgba(255, 255, 255, 0.1);
  --dfBackgroundSize: 10%;
  /* --dfBackgroundImage: url("/app/src/assets/fantastic_background.png"); */
  --dfBackgroundImage: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 0px),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 0px);


  --dfNodeType: flex;
  --dfNodeTypeFloat: none;
  --dfNodeBackgroundColor: rgba(255, 255, 255, 0.9);
  --dfNodeTextColor: rgb(255, 255, 255);
  --dfNodeBorderSize: 0px;
  --dfNodeBorderColor: #000000;
  --dfNodeBorderRadius: 16px;
  --dfNodeMinHeight: 64px;
  --dfNodeMinWidth: 64px;
  --dfNodePaddingTop: 0px;
  --dfNodePaddingBottom: 0px;
  --dfNodePaddingLeft: 0px;
  --dfNodePaddingRight: 0px;
  --dfNodeBoxShadowHL: 0px;
  --dfNodeBoxShadowVL: 0px;
  --dfNodeBoxShadowBR: 0px;
  --dfNodeBoxShadowS: 1px;
  --dfNodeBoxShadowColor: rgba(255, 255, 255, 0.3);

  --dfNodeHoverBackgroundColor: rgba(255, 255, 255, 0.4);
  --dfNodeHoverTextColor: rgb(255, 255, 255);
  --dfNodeHoverBorderSize: 0px;
  --dfNodeHoverBorderColor: #000000;
  --dfNodeHoverBorderRadius: 16px;

  --dfNodeHoverBoxShadowHL: 0px;
  --dfNodeHoverBoxShadowVL: 0px;
  --dfNodeHoverBoxShadowBR: 3px;
  --dfNodeHoverBoxShadowS: 1px;
  --dfNodeHoverBoxShadowColor: rgb(247, 247, 64);

  --dfNodeSelectedBackgroundColor: rgba(255, 255, 255, 0.4);
  --dfNodeSelectedTextColor: #ffffff;
  --dfNodeSelectedBorderSize: 0px;
  --dfNodeSelectedBorderColor: #000000;
  --dfNodeSelectedBorderRadius: 16px;

  --dfNodeSelectedBoxShadowHL: 0px;
  --dfNodeSelectedBoxShadowVL: 0px;
  --dfNodeSelectedBoxShadowBR: 6px;
  --dfNodeSelectedBoxShadowS: 1px;
  --dfNodeSelectedBoxShadowColor: rgb(247, 247, 64);
  
  --dfInputBackgroundColor: rgba(0, 0, 0, 0.8);
  --dfInputBorderSize: 0px;
  --dfInputBorderColor: rgba(255, 255, 255, 0.1);
  --dfInputBorderRadius: 16px 16px 16px 16px;
  --dfInputLeft: -22px;
  --dfInputHeight: 48px;
  --dfInputWidth: 16px;

  --dfInputHoverBackgroundColor: rgba(255, 255, 255, 0.2);
  --dfInputHoverBorderSize: 0px;
  --dfInputHoverBorderColor: rgba(255, 255, 255, 0.1);
  --dfInputHoverBorderRadius: 16px 16px 16px 16px;

  --dfOutputBackgroundColor: rgba(0, 0, 0, 0.8);
  --dfOutputBorderSize: 0px;
  --dfOutputBorderColor: rgba(170, 193, 240, 1);
  --dfOutputBorderRadius: 16px 16px 16px 16px;
  --dfOutputRight: -6px;
  --dfOutputHeight: 48px;
  --dfOutputWidth: 16px;

  --dfOutputHoverBackgroundColor: rgba(255, 255, 255, 0.2);
  --dfOutputHoverBorderSize: 0px;
  --dfOutputHoverBorderColor: rgba(120, 157, 229, 1);
  --dfOutputHoverBorderRadius: 16px 16px 16px 16px;


  --dfLineWidth: 10px;
  --dfLineColor: rgba(87, 218, 254, 0.7);
  --dfLineHoverColor: rgba(247, 206, 44, 0.62);
  --dfLineSelectedColor: rgba(247, 207, 44, 0.8);

  --dfRerouteBorderWidth: 1px;
  --dfRerouteBorderColor: rgba(116, 116, 116, 1);
  --dfRerouteBackgroundColor: #ffffff;

  --dfRerouteHoverBorderWidth: 2px;
  --dfRerouteHoverBorderColor: rgba(83, 132, 255, 1);
  --dfRerouteHoverBackgroundColor: #ffffff;

  --dfDeleteDisplay: block;
  --dfDeleteColor: rgb(156, 18, 18);
  --dfDeleteBackgroundColor: rgba(255, 49, 49, 0.5);
  --dfDeleteBorderSize: 2px;
  --dfDeleteBorderColor: rgba(255, 49, 49, 0.5);
  --dfDeleteBorderRadius: 10px;
  --dfDeleteTop: -10px;
  --dfDeleteRight: -10px;

  --dfDeleteHoverColor: rgba(255, 29, 29, 0);
  --dfDeleteHoverBackgroundColor: rgba(255, 49, 49, 1);
  --dfDeleteHoverBorderSize: 2px;
  --dfDeleteHoverBorderColor: rgba(255, 49, 49, 1);
  --dfDeleteHoverBorderRadius: 10px;
}

/* @media (prefers-color-scheme: dark) {
  :root {

    --dfBackgroundColor: rgb(71, 73, 78);
    --dfBackgroundImage: radial-gradient(rgb(51, 53, 58) 1px, transparent 1px);

    --dfNodeBackgroundColor: rgb(32, 34, 39);
    --dfNodeTextColor: rgba(255, 255, 255, 1);
    --dfNodeBorderColor: #000000;

    --dfNodeHoverBackgroundColor: rgb(27, 29, 34);
    --dfNodeHoverTextColor: rgba(255, 255, 255, 1);
    --dfNodeHoverBorderColor: #000000;

    --dfNodeSelectedBackgroundColor: rgb(37, 39, 44);
    --dfNodeSelectedTextColor: #ffffff;
    --dfNodeSelectedBorderColor: #000000;

    --dfRerouteBorderColor: rgba(116, 116, 116, 1);
    --dfRerouteBackgroundColor: #ffffff;

    --dfDeleteColor: rgba(255, 255, 255, 1);
    --dfDeleteBackgroundColor: rgba(254, 91, 91, 1);
    --dfDeleteBorderColor: rgba(0, 0, 0, 1);

    --dfDeleteHoverColor: rgba(255, 255, 255, 1);
    --dfDeleteHoverBackgroundColor: rgba(255, 29, 29, 1);
    --dfDeleteHoverBorderColor: rgba(0, 0, 0, 1);
  }
} */
