@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --dfBackgroundColor: rgb(204, 206, 211);
  --dfBackgroundSize: 8px;
  --dfBackgroundImage: radial-gradient(rgb(168, 170, 175) 1px, transparent 1px);

  --dfNodeType: flex;
  --dfNodeTypeFloat: none;
  --dfNodeBackgroundColor: rgba(241, 243, 244, 1);
  --dfNodeTextColor: rgb(81, 81, 81);
  --dfNodeBorderSize: 0px;
  --dfNodeBorderColor: #000000;
  --dfNodeBorderRadius: 20px;
  --dfNodeMinHeight: 40px;
  --dfNodeMinWidth: 40px;
  --dfNodePaddingTop: 15px;
  --dfNodePaddingBottom: 15px;
  --dfNodeBoxShadowHL: 0px;
  --dfNodeBoxShadowVL: 0px;
  --dfNodeBoxShadowBR: 8px;
  --dfNodeBoxShadowS: 0px;
  --dfNodeBoxShadowColor: rgba(75, 119, 209, 1);

  --dfNodeHoverBackgroundColor: rgba(241, 243, 244, 1);
  --dfNodeHoverTextColor: rgb(81, 81, 81);
  --dfNodeHoverBorderSize: 0px;
  --dfNodeHoverBorderColor: #000000;
  --dfNodeHoverBorderRadius: 20px;

  --dfNodeHoverBoxShadowHL: 0px;
  --dfNodeHoverBoxShadowVL: 0px;
  --dfNodeHoverBoxShadowBR: 12px;
  --dfNodeHoverBoxShadowS: 0px;
  --dfNodeHoverBoxShadowColor: rgba(40, 84, 197, 1);

  --dfNodeSelectedBackgroundColor: rgba(241, 243, 244, 1);
  --dfNodeSelectedTextColor: #ffffff;
  --dfNodeSelectedBorderSize: 0px;
  --dfNodeSelectedBorderColor: #000000;
  --dfNodeSelectedBorderRadius: 20px;

  --dfNodeSelectedBoxShadowHL: 0px;
  --dfNodeSelectedBoxShadowVL: 0px;
  --dfNodeSelectedBoxShadowBR: 12px;
  --dfNodeSelectedBoxShadowS: 0px;
  --dfNodeSelectedBoxShadowColor: rgba(73, 167, 255, 1);

  --dfInputBackgroundColor: rgba(204, 217, 245, 1);
  --dfInputBorderSize: 1px;
  --dfInputBorderColor: rgba(170, 193, 240, 1);
  --dfInputBorderRadius: 50px;
  --dfInputLeft: -17px;
  --dfInputHeight: 11px;
  --dfInputWidth: 11px;

  --dfInputHoverBackgroundColor: rgba(170, 193, 240, 1);
  --dfInputHoverBorderSize: 1px;
  --dfInputHoverBorderColor: rgba(120, 157, 229, 1);
  --dfInputHoverBorderRadius: 50px;

  --dfOutputBackgroundColor: rgba(204, 217, 245, 1);
  --dfOutputBorderSize: 0px;
  --dfOutputBorderColor: rgba(170, 193, 240, 1);
  --dfOutputBorderRadius: 50px;
  --dfOutputRight: -14px;
  --dfOutputHeight: 14px;
  --dfOutputWidth: 14px;

  --dfOutputHoverBackgroundColor: rgba(170, 193, 240, 1);
  --dfOutputHoverBorderSize: 1px;
  --dfOutputHoverBorderColor: rgba(120, 157, 229, 1);
  --dfOutputHoverBorderRadius: 50px;

  --dfLineWidth: 3px;
  --dfLineColor: rgba(120, 157, 229, 1);
  --dfLineHoverColor: rgb(75, 119, 209);
  --dfLineSelectedColor: rgba(170, 193, 240, 1);

  --dfRerouteBorderWidth: 1px;
  --dfRerouteBorderColor: rgba(116, 116, 116, 1);
  --dfRerouteBackgroundColor: #ffffff;

  --dfRerouteHoverBorderWidth: 2px;
  --dfRerouteHoverBorderColor: rgba(83, 132, 255, 1);
  --dfRerouteHoverBackgroundColor: #ffffff;

  --dfDeleteDisplay: block;
  --dfDeleteColor: rgba(255, 255, 255, 1);
  --dfDeleteBackgroundColor: rgba(254, 91, 91, 1);
  --dfDeleteBorderSize: 0px;
  --dfDeleteBorderColor: rgba(0, 0, 0, 1);
  --dfDeleteBorderRadius: 49px;
  --dfDeleteTop: -12px;

  --dfDeleteHoverColor: rgba(255, 255, 255, 1);
  --dfDeleteHoverBackgroundColor: rgba(255, 29, 29, 1);
  --dfDeleteHoverBorderSize: 0px;
  --dfDeleteHoverBorderColor: rgba(0, 0, 0, 1);
  --dfDeleteHoverBorderRadius: 50px;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --dfBackgroundColor: rgba(31, 33, 38, 1);
    --dfBackgroundImage: radial-gradient(rgba(0, 0, 0, 1) 1px, transparent 1px); */
    --dfBackgroundColor: rgb(71, 73, 78);
    --dfBackgroundImage: radial-gradient(rgb(51, 53, 58) 1px, transparent 1px);

    --dfNodeBackgroundColor: rgb(32, 34, 39);
    --dfNodeTextColor: rgba(255, 255, 255, 1);
    --dfNodeBorderColor: #000000;

    --dfNodeHoverBackgroundColor: rgb(27, 29, 34);
    --dfNodeHoverTextColor: rgba(255, 255, 255, 1);
    --dfNodeHoverBorderColor: #000000;

    --dfNodeSelectedBackgroundColor: rgb(37, 39, 44);
    --dfNodeSelectedTextColor: #ffffff;
    --dfNodeSelectedBorderColor: #000000;

    --dfRerouteBorderColor: rgba(116, 116, 116, 1);
    --dfRerouteBackgroundColor: #ffffff;

    --dfDeleteColor: rgba(255, 255, 255, 1);
    --dfDeleteBackgroundColor: rgba(254, 91, 91, 1);
    --dfDeleteBorderColor: rgba(0, 0, 0, 1);

    --dfDeleteHoverColor: rgba(255, 255, 255, 1);
    --dfDeleteHoverBackgroundColor: rgba(255, 29, 29, 1);
    --dfDeleteHoverBorderColor: rgba(0, 0, 0, 1);
  }
}
